
body{
    background-color: #4C4C4C;
    font-family: 'Questrial', sans-serif;
    margin: 0;
}
header{
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}
#name{
     background-color: #5DBCE4;
     padding: 10px;
     color: #4C4C4C;
     height: 140px;
     overflow: hidden;
}
#name h3{
    color: #7A7A7A;
}
#name ul{
    position: absolute;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#name li{
    display: inline;
}
.logo{
    float:left;
    position: relative;
    top: -55px;
    right: 5px;
    overflow: hidden;
}
nav{
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
}
.navBar{
    list-style-type: none;
    padding:0;
    margin-top: 160px;
    height: 100%;
    width: 200px;
    background-color: #FFF7D9;
    
}
.navBar a {
    height: 20px;
    width: 168px;
    display: block; 
    color: #4C4C4C;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.navBar a.home{
    background-color: #41AFDC;
    color: white;
}

.navBar a:hover:not(.home){
    background-color: #DAC791; 
    color: white;
    height: 30px;
    border-right: 10px solid #41AFDC; 
}
main{
    margin: 170px 9px 9px 210px;
}
.shape{
    color: black;
    background-color: #7A7A7A;
    height: 1000px;
    width: 100%;
}
.content{
    background-color: #8A8A8A;
    padding: 1px 20px 10px 15px;
    display: flex;
}

.Image_Gallary{
margin: 2px;
padding: 3px;
}

.Image_Gallary img{
    max-width: 50%;
    height: auto;
    float: left; 
    width: 234px;   
    padding: 4px; 
}



